<h2>Requests you've made:</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Space</th>
          <th>Description</th>
          <th>Date available</th>
          <th>Price per night (in GBP)</th>
          <th>Host email</th>
          <th>Contact host</th>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0; i<requests.length; i++) { %>
        <tr>
          <td><%= requests[i].spaces.title %></td>
          <td><%= requests[i].spaces.description %></td>
          <td><%= requests[i].spaces.date %></td>
          <td><%= requests[i].spaces.price %></td>
          <td><%= requests[i].users.email %></td>
          <td><a href="mailto:<%= requests[i].users.email %>?Subject=MakersBnB%20Request%20for%20<%= requests[i].spaces.title %>">Contact host</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
