<button id="logout" type="button" name="button"><a href="/users/logout">Log out</a></button>
<%= message %>

<ul>
<%
for(var i=0; i<spaces.length; i++) { %>
  <%= spaces[i]['title'] %> - <%= spaces[i]['description'] %> - <%= spaces[i]['price'] %> - <%= spaces[i].users.email %> - <%= spaces[i]['date'] %>
  <input type="button" onclick="location.href='/requests';" value="Request Space"/>
  <br>
<% }
%>
</ul>
