<h2>Available Spaces:</h2>
<table class="table">
  <thead>
    <tr>
      <th>Space</th>
      <th>Description</th>
      <th>Price per night</th>
      <th>Host email</th>
      <th>Date available</th>
      <% if (user) { %>
        <th>Click to request</th>
      <% } %>
    </tr>
  </thead>

  <tbody>
    <% for(var i=0; i<spaces.length; i++) { %>
    <tr>
      <td><%= spaces[i]['title'] %></td>
      <td><%= spaces[i]['description'] %></td>
      <td><%= spaces[i]['price'] %></td>
      <td><%= spaces[i].users.email %></td>
      <td><%= spaces[i]['date'] %></td>
      <td>
        <% if (user) { %>
          <button id="reqspace" type="button" name="button" class="btn btn-default">
            <a href= '<%= "/spaces/request/" + spaces[i]["id"]%>'>Request Space</a>
          </button>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
